<div class="row">
    <div class="container">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="#">Home</a></li>
            <li><a href="#">Post</a></li>
            <li class="active"><span>Edit</span></li>
        </ol>
    </div>
    <h1>Edit POST</h1>
    <%= simple_form_for @post, :url => {:controller => "posts", :action => "update"},:html => {:multipart => true } do |f| %>
        <%= f.file_field :image , :class => "btn btn-default btn-file imgChooser" %>
        <%= f.select :category_id, @categories, :class => "form-control" %>
        <%= f.input :title, label: "post Title" %>
        <%= f.input :body %>
        <%= f.button :submit %>
    <% end %>
</div>