<div class="container">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="#">Home</a></li>
            <li><a href="#">Post</a></li>
            <li class="active"><span>Show</span></li>
        </ol>
</div>
<div class="row">
    <div class="col-md-4">
            <% if @post.image_url %>
            <%= image_tag @post.image_url,:class => "img-responsive" %> 
            <% end %>
    </div>
    <div class="col-md-8">
        <h2>
            <%= @post.title %>
        </h2>
        <h3>
            <%= @post.body %>
        </h3>
    
    </div>
    <div class="row">
        <div class="container">
                <div class="col-lg-12">
                        <h3><i class="glyphicon glyphicon-chevron-left"></i><%= link_to "  Back", root_path %></h3>
                        <% if user_signed_in? %>
                            <% if @post.user_id == current_user.id %>
                            <h3><i class="glyphicon glyphicon-edit"></i><%= link_to "  Edit", edit_post_path(@post) %></h3>
                            <h3><i class="glyphicon glyphicon-remove"></i><%= link_to "  Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure that you actually want to delete this post ?"} %></h3>
                           <% end %>
                        <% end %>
                </div>
        </div>
    </div>
</div>